# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

name: Stromweld/packer-plugin-parallels/build_plugin_binaries
permissions:
  contents: read
on:
  push:
    branches:
      - main
jobs:
  build_darwin:
    defaults:
      run:
        working-directory: ~/go/src/github.com/Stromweld/packer-plugin-parallels
    runs-on: ubuntu-latest
    container:
      image: docker.mirror.hashicorp.services/cimg/go:1.21
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: './.github/actions/build-and-persist-plugin-binary'
        with:
          GOOS: darwin
          GOARCH: arm64
